@use "../../../GlobalStyle.scss" as Style;

.create-machine-backgroud {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
  align-items: center;
  backdrop-filter: blur(2px);

  & .create-machine-box {
    display: flex;
    background-color: Style.$Secondary-Background-Color;
    padding: 4rem 10rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

    & .create-form {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;

      & label {
        font-size: 1.5rem;
        font-weight: inherit;
        font-family: inherit;
      }

      & .form-div-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;

        & input {
          width: 30rem;
          outline: none;
          border: none;
          background-color: Style.$Secondary-Background-Color;
          font-weight: inherit;
          font-family: inherit;
          color: inherit;
          text-align: center;

          &::selection {
            background-color: rgb(0, 0, 0);
          }

          &::placeholder {
            text-align: center;
            color: white;
          }
        }

        & hr {
          width: 30rem;
          height: 2px;
          border: none;
          background-color: black;
        }
      }

      & .div-flag-status {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, -20%);
      }

      & .form-div-label-select,
      .form-div-label-input {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        & select,
        input,
        textarea {
          width: 35rem;
          padding: 0.6rem;
          border-radius: 0.6rem;
          border: none;
          outline: none;
          font-weight: inherit;
          font-size: 1.2rem;

          & option {
            color: black;
          }
        }
      }

      & .form-div-label-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;

        & div {
          display: flex;
          flex-direction: column;

          & input {
            width: 15rem;
            text-align: center;
            padding: 0.6rem;
            outline: none;
            border: none;
            border-radius: 0.6rem;
            font-weight: inherit;
          }
        }
      }
      & .form-div-button {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;

        & button {
          outline: none;
          border: none;
          color: inherit;
          padding: 0.7rem 2rem;
          border-radius: 0.6rem;
          font-size: 1.8rem;
          font-weight: inherit;
          font-family: inherit;
          cursor: pointer;
        }

        & .btn-save {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          background-color: #10b981;
          transition: 0.6ms ease;

          &:hover {
            background-color: #1cac7c;
          }
        }

        & .btn-cancel {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          background-color: #d55656;

          &:hover {
            background-color: #c74545;
          }
        }
      }
    }
  }
}
